<div class: "container">
  <h1>Car details</h1>
  <ul>
    <li><%= "Brand: #{@car.brand}" %></li>
    <li><%= "Model: #{@car.model}" %></li>
    <li><%= "Year: #{@car.year}" %></li>
    <li><%= "Fuel type: #{@car.fuel}" %></li>
  </ul>
  <hr>
  <% if Favourite.exists?(car_id: @car.id) %>
    <p>Already in Garage</p>
  <% else %>
    <%= render 'cars/favourite_form', car: @car, favourite: @favourite %>
  <% end %>
  <hr>
  <h3>Add a review</h3>
    <%= render 'cars/review_form', car: @car, review: @review %>
  <hr>
  <h3>Reviews</h3>
    <ul>
      <% @reviews.each do |review| %>
        <li><%= "#{review.comment} (#{review.rating}/5)" %></li>
      <% end %>
    </ul>
</div>
